@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.primero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: 100% 100%;
  height: 900px;
  background-image: linear-gradient(to bottom, rgba(47, 165, 120, 0.7), rgba(47, 165, 120, 0.7)), url("./header-bg_2019-06-04/header-bg.jpg"); }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Lato", sans-serif;
  background-size: 100% 100%;
  height: 80px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, rgba(47, 165, 120, 0.7), rgba(47, 165, 120, 0.7)); }

.solar {
  margin-left: 15px; }

.menu {
  display: flex;
  margin-right: 15px; }

p {
  margin-right: 5px; }

.titulo {
  height: 350px;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 50px; }

.texto-ppal {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff; }
